#main{
    background-color: gray;
    display:flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/

}
#email{
    margin-left:1.2rem;
}
#email2{
    margin-left:1.2rem;
}
#reg{
    background-color: gray;
    display:none;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}
div>div{
    background-color: mediumspringgreen;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}
#passwordSelect{
}
#btnBack{
    position: relative;
    left: 12.5rem;
    bottom: 19rem;

    margin: auto;
}